<footer class="wrapper style1 align-center">
	<div class="inner">
		<ul class="icons">
			<li><a href="https://twitter.com/intent/tweet?text={{site.data.social.tweetText}}&url={{page.url | absolute_url}}&hashtags={{site.data.social.tweetTags}}&via={{site.data.social.twitterHandle}}" class="icon style2 fa-twitter"><span class="label">Twitter</span></a></li>
			<li><a href="https://www.facebook.com/sharer.php?u={{page.url | absolute_url}}" class="icon style2 fa-facebook"><span class="label">Facebook</span></a></li>
			<li><a href="#" class="icon style2 fa-instagram"><span class="label">Instagram</span></a></li>
			<li><a href="https://reddit.com/submit?url={{site.url}}&title={{site.data.social.redditPostTitle}}" class="icon style2 fa-reddit"><span class="label">Reddit</span></a></li>

		</ul>
		<p>&copy; {{site.data.settings.penname}}</p>
	</div>
</footer>