<!DOCTYPE HTML>
<html>

<head>
    <title>{{page.title}} | {{site.data.settings.title}}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{{"/assets/css/main.css" | absolute_url}}" />
</head>

<body>
    <section class="wrapper {{site.data.post.wrapperStyle}} {{site.data.post.wrapperAlign}}">
        <div class="inner">
            <h1>{{page.title}}</h1>
            <p>{{page.subtitle}}</p>
            <div class="index align-left">
                <section>
                    <header>
                        <h4 style="font-weight: 500">Share this:</h4>
                        <ul class="icons social-sticky">
                            <li><a href="https://twitter.com/intent/tweet?text={{page.title}}&url={{page.url | absolute_url}}&hashtags={{page.tags}}&via={{site.data.social.twitterHandle}}" class="icon style2 fa-twitter"><span class="label">Twitter</span></a></li>
                            <li><a href="https://www.facebook.com/sharer.php?u={{page.url | absolute_url}}" class="icon style2 fa-facebook"><span class="label">Facebook</span></a></li>
                            <li><a href="#" class="icon style2 fa-instagram"><span class="label">Instagram</span></a></li>
                            <li><a href="https://reddit.com/submit?url={{page.url | absolute_url}}&title={{page.title}}" class="icon style2 fa-reddit"><span class="label">Reddit</span></a></li>
                        </ul>
                    </header>
                    <div class="content post-content">
                        {{content}}
                    </div>
                </section>
            </div>
        </div>
    </section>
</body>

</html>